{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    {% for shoes in shoe %}
        {% if shoes.sub_category == 'boots' %}
            <div class="col">
                <div class="card" style="width:16rem">
                    <img class="card-img-top" style="height:10rem" src="{{ shoes.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ shoes.product_name }} Size {{ shoes.product_size }}</h5>
                        <p class="card-text">{{ shoes.product_name }} Size {{ shoes.product_size }}</p>
                        <button class="btn btn-outline-success btn-block btn-sm" type="button">Send Message</button>
                        <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send WhatsApp</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock%}