{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="products">
        <div class="products-category">
            <div class="category-name">
                <h2>SHOES</h2>
            </div>
            {% for shoes in shoe %}
            <div class="item-list">
                <div class="item">
                    <div class="item-image">
                        <img src="{{ shoes.image.url }}" alt="product-image">
                    </div>
                    <div class="product-name">
                        <a href="#">
                            {{ shoes.product_name }} Size {{ shoes.product_size }}
                        </a>
                    </div>
                    <div class="product-price">
                        <p>
                            {{ shoes.product_selling_price }}
                        </p>
                    </div>
                    <div class="likes-cart">
                        <div class="likes">
                            <div>
                                <input type="button" value="SEND MESSAGE">
                            </div>
                        </div>
                        <div class="cart">
                            <input type="button" value="CHAT ON WHATSAPP">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="show-more">
                <a href="{% url 'shoes' %}"><b>Show More</b></a>
            </div>
            
            <div class="category-name">
                <h2>WATCHES</h2>
            </div>
            {% for watch in watches %}
            <div class="item-list">
                <div class="item">
                    <div class="item-image">
                        <img src="{{ watch.product_image.url }}" alt="product-image">
                    </div>
                    <div class="product-name">
                        <a href="#">
                            <b>{{ watch.product_name }} {{ watch.product_color }}</b>
                        </a>
                    </div>
                    <div class="product_price">
                        <p>
                            KSH {{ watch.product_selling_price}}
                        </p>
                    </div>
                    <div class="likes-cart">
                        <div class="likes">
                            <div>
                                <input type="button" value="SEND MESSAGE">
                            </div>
                        </div>
                        <div class="cart">
                            <input type="button" value="CHAT ON WHATSAPP">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="show-more">
                <a href="{% url 'watches' %}"><b>Show More</b></a>
            </div>
        </div>
    </div>
{% endblock %}