{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="products">
        <div class="products-category">
            <div class="category-name">
                <h2>SHOES</h2>
            </div>

            <div class="row">
                {% for shoes in shoe %}
                <div class="col">
                    <div class="card" style="width:16rem">
                        <img class="card-img-top" style="height:10rem" src="{{ shoes.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ shoes.product_name }} Size {{ shoes.product_size }}</h5>
                            <p class="card-text">{{ shoes.product_selling_price }}</p>
                            <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send Message</button>
                            <button class="btn btn-outline-success btn-block btn-sm mt-3    " type="button">Send WhatsApp</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="show-more">
                <a href="{% url 'shoes' %}"><b>Show More</b></a>
            </div>
            
            <div class="category-name">
                <h2>WATCHES</h2>
            </div>
            <div class="row">
                {% for watch in watches %}
                    <div class="col">
                        <div class="card" style="width:16rem">
                            <img class="card-img-top" src="{{ watch.product_image.url }}" style="height:10rem">
                            <div class="card-body">
                                <h5 class="card-title">{{ watch.product_name }}</h5>
                                <p class="card-text">KSH {{ watch.product_selling_price}}</p>
                                <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send Message</button>
                                <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send WhatsApp</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="show-more">
                <a href="{% url 'watches' %}"><b>Show More</b></a>
            </div>

            <div class="category-name">
                <h2>HOME APPLIANCES</h2>
            </div>
            <div class="row">
                {% for appliances in home_appliances %}
                    <div class="col">
                        <div class="card" style="width:16rem">
                            <img class="card-img-top" style="height:16rem" src="{{ appliances.product_image.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ appliances.product_name }}</h5>
                                <p class="card-text">KSH {{ appliances.product_selling_price}}</p>
                                <button class="btn btn-outline-success btn-block btn-sm" type="button">Send Message</button>
                                <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send WhatsApp</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="show-more">
                <a href="{% url 'home-appliances' %}"><b>Show More</b></a>
            </div>
        </div>
    </div>
{% endblock %}