{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">
    {% for watch in watches %}
        {% if watch.product_gender == 'male' %}
        <div class="col">
            <div class="card" style="width:16rem">
                <img class="card-img-top" style="height:10rem" src="{ watch.product_image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ watch.product_name }} {{ watch.product_color }}</h5>
                    <p class="card-text">KSH {{ watch.product_selling_price }}</p>
                    <button class="btn btn-outline-success btn-block btn-sm" type="button">Send Message</button>
                    <button class="btn btn-outline-success btn-block btn-sm mt-3" type="button">Send WhatsApp</button>
                </div>
            </div>
        </div>
        {% endif%}
    {% endfor %}
</div>
{% endblock %}